
.btn-u.btn-u-yellow {
    background: #5fb611;
    padding: 7px;
    width: 128px;
}
ul.nav.navbar-nav {
    margin-right: 73px;
}

button.btn-u.btn-u-yellow:hover {
    background: #5fb611;
}
.btn-u.btn-u-dark {
    background: #72c02c;
}
button.btn-u.btn-u-dark:hover {
    background: #72c02c;
}
.btn-u.btn-u-green {
    background: #5fb611;
    margin: 246px 154px;
    width: 125px;
    height: 37px;
    font-family: sans-serif;
}
button.btn-u.btn-u-green a {
    text-decoration: none;
    color: #fff;
}


/* how To work section*/
section#Hows {
    background: #f0f0f091;
    padding: 30px 0px;
}
section#Hows i {
    font-size: 25px;
    margin-left: 95px;
    background: #fff;
    padding: 10px;
    border: 1px solid;
    border-radius: 100%;
}
section#Hows h4 {
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
section#Hows p {
    text-align: center;
}
section#Howss h1 {
    text-align: center;
    font-weight: bolder;
}
.bg-grey {
    background: #fff;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}






/* slider Section*/
section#home-slider {
    background: #f7f7f7;
    height: 475px;
}

/* About*/
.responsive-image img {
    width: 100%;
}
section#About-quik {
    padding: 30px 0px;
}
.breadcrumbs h1 {
    color: #666;
    font-size: 30px;
    margin-top: 8px;
}
section#How {
    background: #f7f7f7;
    height: 400px;
    padding: 30px 0px;
}

/* cooming soon*/
ul.phones {
    list-style-type: none;
}
ul.phones img {
    width: 100px;
}
ul.phones li {
    float: left;
}
li.onr img {
    width: 153px;
}

/* back*/
ul.list-unstyled.owl-ts-v1.owl-carousel.owl-theme {
    background: #fff;
}






/* sign 1*/


.col-md-6.col-sm-6.hidden-xs.image-block.equal-height-column img {
    width: 100%;
    height: 634px;
}
.col-md-6.col-sm-6.hidden-xs.image-block.equal-height-column {
    background: #fff;
}
button.btn-u.btn-block.rounded a {
    color: #fff;
    text-decoration: none;
}
span.maore {
    margin-left: 21px;
}

/* driver verification*/
.sky-form header {
    color: inherit;
    display: block;
    font-size: 20px;
    background: transparent;
    font-weight: 400;
    padding: 8px 30px;
}
div#sky-form {
    width: 70%;
    margin-left: 15%;
}
}
footer.bt {
    margin-left: 78%;
}

.sky-form .col-3 {
    width: 25%;
   
}
span.ag {
    margin-left: 16px;
}


.inline-group ul {
    list-style-type: none;
}
.inline-group li {
    float: left;
}
li.ra {
    margin-left: 48px;
}
fieldset.one {
    margin-left: 120px;
}
label.checkbo {
    margin-left: 13px;
}
/*login*/
section#login-form img {
    width: 100%;
    height: 500px;
}
/* otp Verification*/

section#otp{
    background-image: url(../img/back0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.field:last-child {
    margin: 0 auto;
}

.field {
    margin: 0 auto 40px;
    width: 280px;
    position: relative;
}
.otpblkwrap .placeholder, .otpblkwrap .fldtxt {
    text-align: center;
}
.placeholder {
    bottom: 8px;
    color: #504f4f85;
    font-size: 12px;
    left: 0;
    line-height: 13px;
    position: absolute;
}

input#otp {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 100%;
    padding: 0px 0px 7px 0px;
    border-bottom: 1px solid #0000002e;
    position: relative;
    background: transparent;
    font-size: 16px;
}
p.num {
    margin-top: 12px;
    text-align: center;
    font-size: 10px;
}
.reg-block h2, .reg-block p, .reg-block p a {
    color: #7777778c;
}
span.re {
    color: #ed3561;
    font-size: 12px;
    border-bottom: 1px solid #ed3561;
}
button.btn-u.btn-blocksss {
    margin-left: 83px;
    width: 42%;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
}
.reg-block-header h2 {
    font-size: 24px;
    font-weight: bold;
}
.reg-block-header p {
    text-align: center;
    font-size: 11px;
    color: #a0a0a0d6;
}

/* booking page*/

.form-block .input-group input.form-control {
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    border-color: rgba(214,214,214,.5);
    border-left: none;
    color: #969595;
    height: 39px;
}
section#booking-form .login-block .btn {
    padding: 7px 12px;
    font-size: 9px;
}
section#booking-form .form-block h2 {
    font-size: 12px;
    border-bottom: 2px solid#72c02c;
}
.headline li.dropdown {
    list-style-type: none;
}
section#booking-form .margin-bottom-30 {
    margin-bottom: 30px;
    font-family: sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #4bc72d;
}
section#booking-form iframe {
    width: 67%;
}
span.black .btn-u.btn-u-dark {
    background: #000;
    padding: 8px;
    font-size: 12px;
}
 section.margin .checkbox, .radio {
    position: relative;
    display: inline;
    
    margin-bottom: 10px;
    margin-left: 48px;
}
section.change {
    margin-right: 30px;
}
 section.change .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
 section.change .panel-default {
    border-color: transparent;
}
.sky-form a {
    background: #76bb6a;
    padding: 5px;
    color: #fff;
    text-decoration: none;
}


.bootstrap-datetimepicker-widget .picker-switch td span {
    line-height: 2.5;
    height: 2.5em;
    width: 100%;
    background: #337ab7;
    color: #fff;
}
section#bookingForm .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2 {
    background: #0e385dcf;
    border-radius: 8px;
}
section#bookingForm h4 {
    color: #fff;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 26px;
    padding-right: 15px;
    padding-left: 15px;
}
/* search results */

div#profile {
    border: 17px solid #f0f0f0;
}
h2.heading-md {
    font-size: 20px;
    line-height: 24px;
    margin-left: 31px;
    margin-top: 19px;
}
 section#posts a.pull-right {
    margin-right: 50px;
}
hr {
    margin-top: 20px;
    margin-bottom: 4px;
    border: 0;
    border-top: 1px solid #eee;
}
strong {
    font-size: 12px;
}
/* driver pool avilability*/
section#driverpool h2.heading-sm {
    font-size: 12px;
    border: 0;
}
span.extra {
    margin-left: 27%;
}
span.small button.btn-u.btn-u-dark {
    margin-left: 12px;
}


/* driver pool*/

.content {
    padding-top: 40px;
    padding-bottom: 40px;
}

section#driverdetail img.img-circular {
    width: 122px;
    height: 110px;
    margin-top: 27px;
    margin-left: -50%;
    overflow: hidden;
    border-radius: 50%;
    margin-right: -50%;
}
ul.driverss {
    list-style-type: none;
}
ul.driverss li.left {
    float: left;
    margin-left: 40px;
}
section#driverdetail .col-md-9.col-lg-9.col-sm-12.col-xs-12 {
    background: #b6bbb140;
    
}
.tag-box-v2 {
    background: #fafafa;
    border: solid 1px #eee;
    /* border-left: solid 2px #72c02c; */
    margin-top: 15px;
    border-radius:10px;
}
.view button.btn-d {
    margin-top: 40px;
    background: #31ce3d;
    color: #fff;
    width: 90px;
    height: 37px;
    border-radius: 7px;
    border:0;
}
span.cancel button.btn-d {
    margin-top: 22px;
    
    background: #31ce3d;
    color: #fff;
    width: 90px;
    height: 37px;
    border-radius: 7px;
}
.map iframe {
    width: 100%;
    height: auto;
}
span.top button.btn-d{
    margin-top: 40px;
    background: #31ce3d;
    color: #fff;
    width: 90px;
    height: 37px;
    border-radius: 7px;
    border:0;
}
span.time {
    margin-left: 29px;
}



/*driver details*/

a.btn.btn-info.btn-lgs {
    margin-left: 180px;
    background: transparent;
    border: 0;
    color: #fff;
}




section#comments form#sky-form3 {
    box-shadow: none;
}
.tabled {
    border: 1px solid #f0f0f0;
}
section#Dashboard .profile-body {
    margin-top: 15px;
}
h2.margi {
    font-weight: bold;
    text-transform: uppercase;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}
span.chamge img.img-responsive.md-margin-bottom-10 {
    width: 261px;
    border-radius:5px;
}

section#settingss form#sky-form4 {
    box-shadow: none;
}
 section#settingss form#sky-form {
    box-shadow: none;
}
section#settingss form#sky-form3 {
     box-shadow: none;  
}
.p h2 {
    text-align: center;
    font-weight: bold;
    background: #269abc;
    color: #fff;
    border-radius: 8px;
}
section#Dashboard .content {
    
    padding-bottom: 24px;
}
div#concep {
    margin-top: 15px;
}

/*driver dashprofile */
section#contactsd form#sky-form {
    box-shadow: none;
}

section#commentss .bg-color-light {
    background-color: transparent;
}
section#commentss form#sky-form3 {
    border: 15px solid #f0f0f0;
    background: #f0f0f0;
}
section#commentss .col-md-6 {
    margin-top: 10px;
    width: 49%;
    margin-left: 10px;
}
div#concep .panel-heading {
    background: #269abc;
    color: #fff;
}
div#concep .panel-red {
    border-color: #269abc;
}


/* rides */
span.dee button.btn-u.btn-u-dark {
    margin-left: 680px;
    margin-top: 10px;
}
section#usersp .profile-body {
    margin-top: 15px;
}

.de button.btn-u.btn-u-dark {
    margin-left: 379px;
    margin-top: 10px;
}

/* bookingsqdm*/
section#qdmbooking .col-md-9.col-lg-9.col-sm-12.col-xs-12 {
    background: transparent;
}
section#qdmbooking h2.panel-title.heading-sm.pull-left {
    color: #fff;
}
.ex {
   
    margin-top: 15px;
}
.y h2.panel-title.heading-sm.pull-left {
    background: transparent;
    padding: 10px;
    font-weight: bold;
}

section#daters .panel-heading {
    background: #2ecc71;
    color: #fff;
}
.support .panel-heading {
    background: #1abc9c;
    color: #fff;
}
.expert .panel-heading {
    background: #499e26;
    color: #fff;
}
.expert .panel-sea{
    border-color: #499e26;
}
.profile .table {
    background: #fff;
    display: block;
    max-height: 200px;
    overflow-x: auto;
    
}
section#qdmbookings .panel-heading.overflow-h {
    background: #269abc;
}



section#user-comments img.media-object.rounded-x {
    width: 43px;
}
section#projects .profile-body {
    margin-top: 15px;
}
td.td-width {
    width: 100px;
}
section#driverdetail h2.panel-title.heading-sm.pull-left {
    color: #000;
}
section#bookingForm .sky-form a {
    background: transparent;
    color: #000;
    text-decoration: none;
}
section#driverdetail img.rounded-x {
    width: 100px;
}
.commet a.accordion-toggle {
    color: #fff;
}
.commet a.accordion-toggle i.fa.fa-comments {
    color: #fff;
}
div#concep h2 {
    font-size: 13px;
}
div#concep h3 {
    font-size: 13px;
}
section#commentss h2.margin-bottom-20 {
    background: #269abc;
    color: #fff;
    font-size: 15px;
}
section#commentss .col-md-12 {
    margin-top: 10px;
}
section#usersp .profile .panel-heading {
    color: #fff;
    background: #269abc;
    padding: 7px 15px;
    border-bottom: solid 3px #f7f7f7;
    border-radius: 8px;
}
div#Pay .panel-heading.overflow-h {
    color: #fff;
    background: #269abc;
}
section#nn .panel-heading {
    background: #269abc;
    color: #fff;
}
section#nn .panel-red {
    border-color: #269abc;
}
section#qdmbooking .panel-heading.overflow-h {
    background: #269abc;
}
section#nn .profile-body {
    margin-top: 15px;
}
.page h2 {
    background: #1abc9c;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
section#Dashboard .service-block-v3 .counter {
    display: block;
    line-height: 1;
    font-size: 30px;
    margin-left: 70px;
}
.support h2.panel-title.heading-sm.pull-left {
    color: #fff;
}
span.pull-right i.fa.fa-plus {
    color: #fff;
}
h2.panel-title.heading-sm.pull-left {
    color: #fff;
}
.profile .profile-body {
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
}
.profile .table {
    background: #fff;
    display: block;
    max-height: 200px;
    overflow-x: auto;
   
}
div#concep .panel-heading {
    background: #269abc;
    color: #fff;
    border-radius: 8px;
}
.panel-green {
    border-color: transparent;
}

.panel, .panel-heading, .panel-group .panel {
    border-radius: 0;
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.service-block-u {
    background: #72c02c;
    border-radius: 8px;
}
.service-block-blue {
    background: #3498db;
    border-radius: 8px;
}

section#bookingForm {
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
ul.deatilsdrivers {
    list-style-type: none;
}
ul.deatilsdrivers li {
    margin-top: 10px;
}
section#driverdetail .row {
   border-radius: 8px;
    box-shadow: 0px 2px 5px #555;
    background: #f9f9f9;
    
}
ul.deatilsdrivers button.btn-u.btn-u-dark {
    border-radius: 5px;
    background:#004CA3;

}
ul.deatilsdrivers button.btn-u.btn-u-dark:hover {
    background: #fff;
    border: 2px solid #004CA3;
     color: #004CA3;
}



ul.result {
    list-style-type: none;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #555;
    background: #f9f9f9;
}
ul.result li {
    float: left;
}
span.boot button.pull-right {
    background: #72c02c;
    border: 0;
    padding: 8px;
    color: #fff;
    border-radius: 5px;
}
/* mobile*/

.wrapperone {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    
    min-height: 100%;
    padding: 20px;
  
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  .fadeIn  p{
  line-height: 30px;
  font-weight:bold;
  font-size:16px;
  }
  
  
  /* TABS */
  
  .fadeIn  h5.inactive {
    color: #cccccc;
  }
  
   .fadeIn h5.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  .fadeIn.first{
          padding: 29px;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  #number-form input[type=button], input[type=submit], input[type=reset]  {
   
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background:#004CA3 !important
  }
  
   #number-form input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  #number-form input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  #number-form input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 75%;
  
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
        border: 2px solid #bfbcbc;
  }
  
  #number-form input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
   #number-form input[type=text]:placeholder {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  span.otp button {
    background: #004CA3;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 18px;
}
span.otp button a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    margin-top: 12px;
}
 
  

  
  /* OTHERS */
  
  .reg-block h2, .reg-block p, .reg-block p a {
    color: #0000008c;
     font-weight: 700;
     text-align: center;
 }
 .reg-block h2, .reg-block p, .reg-block p a {
     color: #0000008c;
     font-weight: 700;
     text-align: center;
 }
 .form-block .input-group input.form-control {
     background: transparent;
     padding-left: 10px;
     padding-right: 10px;
     border-color: rgba(214,214,214,.5);
     border-left: none;
     color: #969595;
     height: 39px;
 }
 .form-block .input-group input.form-control {
     background: transparent;
     padding-left: 10px;
     padding-right: 10px;
     border-color: rgba(214,214,214,.5);
     border-left: none;
     color: #969595;
     height: 39px;
 }
 
 .btn-u.btn-block {
     text-align: center;
     background: #004CA3 !important;}
     .login-block1 {
        float: left;
        width: 100%;
        padding: 50px 0;
        background: #d8dad5;
    }
 .banner-sec{
     background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;
     }
 .container_login-block1{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}

.wrapperone {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    /*background: #7d7d7d;*/
       background: url(../img/keys.jpg) no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
  }
  .btn-u.btn-block1 {
    text-align: center;
    background: #004CA3 !important;
	    padding: 5px 28px;
		border-radius:5px;

}
.reg-block1 h2, .reg-block1 p, .reg-block1 p a {
   color: #0000008c;
    font-weight: 700;
    text-align: center;
}
.reg-block1{
	padding: 0px 34px;
}
button.btn-u.btn-blocksss {
    margin-left: 83px;
    width: 42%;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
}
.reg-block1-header h2 {
    font-size: 24px;
    font-weight: bold;
}
li.colo a {
    color: #fff;
    text-decoration: none;
}
.reg-block {
    padding: 10px;
}
section#user div#formContent {
    margin-left: 350px;
}   

/* driver pool new*/
section#driverdetail .sky-form {
    margin-top: 36px;
}
section#driverdetail .row {
    border-radius: 8px;
    box-shadow: 0px 2px 5px #555;
    background: #f9f9f9;
    width: 80%;
    margin-left: 56px;
}

 
.profile .panel-heading {
    color: #585f69;
    background: #269abc;
    padding: 7px 15px;
    border-bottom: solid 3px #f7f7f7;
}



/* new css*/

.mdl-button--raised {
    background: rgba(159, 159, 159, 0.9) none repeat scroll 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}
.mdl-button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    letter-spacing: 0;
    line-height: 36px;
    min-width: 64px;
    outline: 0 none;
    overflow: hidden;
    padding: 0 8px;
    position: relative;
    text-align: center;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1) 0s, background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: box-shadow, transform;
}

.mdl-button--raised.addtoca {background: rgb(9, 133, 216);border-radius: 2px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);color: #fff;font-size: 13px;height: 38px; line-height: 38px;width: 100%;}

/*booking form*/

section#bookingForm .panel.panel-default {
    background: transparent;
    border: 0;
}
section#bookingForm div#profile {
    border: 0;
}
section#bookingForm .tab-v1 .tab-content {
    padding: 0;
}
section#bookingForm .pull-right {
    float: right!important;
    margin-right: 20px;
}

 .datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
    color: #000000;
    background-color: #337ab7;
    border-color: #337ab7;
}
